<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Proteomics_Data_Processor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Proteomics_Data_Processor.Properties.Settings>
            <setting name="hostip" serializeAs="String">
                <value />
            </setting>
            <setting name="workernumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="workername" serializeAs="String">
                <value />
            </setting>
            <setting name="workerip" serializeAs="String">
                <value />
            </setting>
            <setting name="temp_folder" serializeAs="String">
                <value />
            </setting>
            <setting name="batch_file" serializeAs="String">
                <value />
            </setting>
            <setting name="system_user" serializeAs="String">
                <value />
            </setting>
            <setting name="system_pwd" serializeAs="String">
                <value />
            </setting>
            <setting name="process_setting" serializeAs="String">
                <value />
            </setting>
            <setting name="script" serializeAs="String">
                <value />
            </setting>
            <setting name="para_process" serializeAs="String">
                <value>False</value>
            </setting>
        </Proteomics_Data_Processor.Properties.Settings>
    </userSettings>
</configuration>